# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Assets/AssetStoreTools*

# IDE
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.unityproj

# OS
.DS_Store
Thumbs.db
